@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Imperial+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --dun: #E4D3B8;
  --tan: #D8BD91;
  --light-blue: #D8EFFF;
  --blue: #95C9E9;
  --dark-blue: #15315A;
  --black: #3F4955;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--dark-blue);
  background: var(--background);
  font-family: 'Fraunces', serif;
}

h1 {
  font-family: 'Imperial Script', cursive;
}

.link-container {
  display: inline-block;
  position: relative;
}

.link-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--tan); /* the color of the line */
  transition: all 0.3s ease;
}

.link-container:hover::before,
.link-container.active::before {
  width: 100%;
  left: 0;
}

