@import "@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*1f497a*/
:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #E8F0F8;
  --pale-blue: #E8F0F8;
  --light-blue: #e4e9ee;
  --medium-blue: #A7C1D9;
  --blue: #84A1C4;
  --dark-blue: #60789B;
  --darker-blue: #1f497a;

  --charcoal: #3F4955;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--darker-blue);
  background: var(--background);
  font-family: var(--font-fraunces), serif;
}

h1 {
  font-family: var(--font-imperial-script), cursive;
}

.link-container {
  display: inline-block;
  position: relative;
}

.link-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--darker-blue); /* the color of the line */
  transition: all 0.3s ease;
}

.link-container:hover::before {
  width: 100%;
  left: 0;
}

.link-container.active {
  font-weight: 700;
}

